# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Python
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.env
.venv/
venv/

# Static & Media
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Misc
*.pdf
*.xlsx
*.csv
*.pdf
*.docx

# Testing & Coverage
.coverage
htmlcov/
.tox/
.nox/

# MyPy
.mypy_cache/
